* {
	margin: 0;
	padding: 0;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
img {
	width: 100%;
	float: left;
}
.main {
	width: 100%;
	max-width: 750px;
	height: 100%;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: #2e1800;
}
.content {
	width: 100%;
	height: 100%;
	position:static;
	top: 0;
	left: 0;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
.content-text {
	height:calc(100% + 1px);
}
.content .content-text > img {
	width: 100%;
	float: left;
}
.content .content-text > p {
	width: 100%;
	float: left;
	position: relative;
}
.content .content-text > p > img {
	width: 100%;
	float: left;
}
.content .content-text > p > a {
	width: 3.16rem;
	position: absolute;
top:.3rem;
	left: 0.4rem;
}
.content .content-text > p > a + a {
	left: auto;
	right: 0.4rem;
}
.content .content-text > p > a > img {
	width: 100%;
	float: left;
}
.son_bottom {
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
}
.son_bottom > img {
	width: 100%;
	float: left;
}
.son_bottom > .son_teach {
	top: 0;
}
.son_bottom > .son_down {
	bottom: 0.04rem;
}
.son_bg {
	width: 100%;
	max-width: 750px;
	height: 100%;
	overflow: auto;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background: rgba(0,0,0,0.7);
	z-index: 1000;
	display: none;
}
.baidu > p {
	width: calc(100% - 1rem);
	float: left;
	margin-left: 0.5rem;
	margin-top: 0.5rem;
	font-size: 0.28rem;
	line-height: 1.5em;
	color: #fff;
}
.baidu > p > a {
	width: 2.2rem;
	float: left;
	margin-left: 2.1rem;
}
.baidu > p > img {
	width: 80%;
	margin-left: 10%;
}
.kf {
	width: 1.16rem;
	position: fixed;
	top: 66%;
	right: 26px;
	transform: translateY(-50%);
	z-index: 2;
}
#online_service {
	width: 1.6rem;
	height: 1.5rem;
	display: inline-block;
}

#online_service img {
	width: 1.6rem;
	height: 1.5rem;
	display: inline-block;
}
