#app{margin:0 auto;z-index:2;min-height:100%;background:#720000; overflow:hidden}
#app .download_zone{position:relative}
#app .download_zone .buttons{position:absolute;width:100%;height:100%;display:flex;left:0;top:0}
#app .download_zone .buttons a{width:100%;overflow:hidden;text-indent:-999em;font-size:0;cursor:pointer}
 
 
#app .top{ width:100%; height:auto; overflow:hidden}
 
#app .slider{padding-bottom:12vh; width:100%; height:auto; margin:0 auto; overflow:hidden}
#app #slider{z-index:9999;width:100%; background:url(../images/bg_01.jpg) no-repeat center; background-size:100% 100%}
#certify{position:relative;width:100%;margin:0 auto; overflow:hidden}
#certify .swiper-slide{width:170px;text-align:center}
#certify .swiper-slide img{display:block;margin:0 auto}
 #app .top img,#app .slider img{ width:100%; height:auto}
 
 
@media screen and (min-width:640px) {
 #certify .swiper-slide {
    width: 3.2rem;
   
}
}
 