@charset "UTF-8";
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    padding: 0;
    margin: 0;
}

html {
    font-size: 50px;
}

ul li {
    list-style: none;
}

@media screen and (min-width: 320px) {
    html {
        font-size: 21.33333333px;
    }
}

@media screen and (min-width: 360px) {
    html {
        font-size: 24px;
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size: 25px;
    }
}

@media screen and (min-width: 384px) {
    html {
        font-size: 25.6px;
    }
}

@media screen and (min-width: 400px) {
    html {
        font-size: 26.66666667px;
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size: 27.6px;
    }
}

@media screen and (min-width: 424px) {
    html {
        font-size: 28.26666667px;
    }
}

@media screen and (min-width: 480px) {
    html {
        font-size: 32px;
    }
}

@media screen and (min-width: 540px) {
    html {
        font-size: 36px;
    }
}

@media screen and (min-width: 720px) {
    html {
        font-size: 48px;
    }
}

@media screen and (min-width: 750px) {
    html {
        font-size: 50px;
    }
}

img {
    width: 100%;
    vertical-align: middle;
}

.main {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    position: fixed;
    bottom: 0;
    left: 0;
    /*position: fixed; bottom: 0;left: 0;*/
}

.boot {
    position: fixed;
    top: 0;
    /*position: fixed; bottom: 0;left: 0;*/
}

.boot img {
    width: 100%;
    height: 100%;
}

.btn_bg {
    width: 100%;
    height: 3.1rem;
    background: url(../images/bg3.jpg) no-repeat;
    background-size: 100% auto;
}

.btn {
    width: 100%;
    height:auto;
	margin:0 auto;
    display: flex;
    justify-content: space-around;
}

.btn img {
    width: 100%;
    height: auto;
}

.icon_bg {
    width: 100%;
    height: 4.16rem;
    background: url(../images/bg4.jpg) no-repeat;
    background-size: 100%;
}

.icon_bg ul {
    width: 13.4rem;
    height: 4rem;
    margin-left: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icon_bg ul li {
    width: 2.14rem;
    margin-bottom: 0.1rem;
}

.icon_bg img {
    width: 100%;
    height: 100%;
}
.kf_img {
    position: fixed;
    right: 1%;
    top: 20%;
    width: 3rem;
}
.kf_img img {
    width: 100%;
    height: 100%;
}


.daili_box{ width:100%; height:52rem; margin:0 auto;background:url(../images/line.jpg) repeat-x; background-size:100% 52rem; }

.table-a{ width:100%; height:auto; margin:0 auto; padding:.2rem 0}
.table-a table{border-right:2px solid #fff;border-bottom:2px solid #fff; width:92%; height:auto; margin:0 auto; font-size:.55rem; }
.table-a table td{border-left:2px solid #fff;border-top:2px solid #fff; padding:.3rem 0;color:#fff; text-align:center; }
.txt{ color:#fff; width:92%; height:auto; margin:.2rem auto; font-size:.55rem}
.txt .tit{ float:left; display:inline; width:32%}
.txt .cont{float:left; display:inline; width:68%;margin-bottom: .3rem;}
.d_down {
    position: fixed;
    bottom: 0;
    left: 0;
	max-width:750px;
	right:0;
	margin:0 auto;
    width: 100%;
    height: 2rem;
	padding:.3rem 0;
    background: rgba(255, 255, 255, 0.77);
}
.down_ico {
    margin: 0.25rem 0.05rem;
    width: 1.3rem;
    float: left;
    height: auto;
}
.ico_img {
    height: 1.3rem;
    width: 1.3rem;
}
.down_ico img {
    width: 100%;
    height: 100%;
}
.down_title {
    width: 4.5rem;
    float: left;
    height: 100%;
}

.titleh3 {
    margin-top: 0.3rem;
    font-size: .3rem;
}
.titlespan {
    font-size: 0.3rem;
}
.gobotton {
    display: block;
    width: 2.3rem;
    height: 1rem;
    line-height: 1rem;
    background: #43c117;
    color: #fff;
    text-align: center;
    font-size: 0.42rem;
    border-radius: 0.08rem;
    position: absolute;
    top: 0.4rem;
    right: 0.2rem;
}
.kefu {
    width: 4rem;
    position: fixed;
    top: 6.3rem;
    right: 0;
    z-index: 8;
}
.kefu  img{ width:100%}

.button {

	 float:right;
	 margin-top:.2rem
}
 .button a {
    float: left;
    display: inline;
    margin-right: .3rem;
}
 .button button {
    display: block;
    width: 4rem;
    height: 1.6rem;
    background-color: #43c117;
    border-radius: 0.08rem;
    border: none;
    font-size: 0.5rem;
    color: #fff;
}
.clear {clear: both;}
.kf {
    position: fixed;
    right: 0;
    top: 40%;
    z-index: 1000;
}

.kf a {
    display: block;
}

.kf a img {
    width: 2.5rem;
}
.toast-message {position:fixed;left:50%;  max-width:720px;top:50%;text-align:center;transform:translateX(-50%);width:90%;transition:top .3s ease-out;opacity .3s ease-out;padding:45px 45px 45px 50px;z-index:2000; color:#fff;background:rgba(0,0,0,.6);display: none;}
#close-message {color:#fef590; font-weight:bold;font-size:32px;}
